.ui-widget {
	font-family: 'Raleway', sans-serif;
}

html, body {
    margin: 0;
	font-family: 'Raleway', sans-serif;
}

h1,h2,h3{
	display: inline;
}

h1{
	font-size: 26px;
	margin: 0 0 -4px 5px;
	display: inline;
}

h2{
	color: rgb(120,120,155);
	font-weight: bold;
	overflow:hidden;
	padding: 1px;
	margin: -16px 0 10px +3px;
	font-size: 16px;
	
	background: linear-gradient( white, rgb(243, 243, 243) );
	display: inline-block;
	float:left;
}

hr{ 
width:100%;
background: rgb(210,210,235);
border-style: none;
margin: 11px 0px 5px 0px;
padding: 0px;
border: 0;
height: 1px;
}

#toolbar {
	margin: 5px;
}

#toolbar button {
	width: 26px;
	height: 26px;
	padding: 2px;
    margin: 0;
}


#toolbar_buttons :disabled img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.large{
	font-size: 200%;
}
.menubox {
	background: rgb(243, 243, 243);
	border: 1px solid rgb(120,120,155);
	margin: 22px 8px ;
	padding: 5px;
	border-radius: 7px;
	clear: both;
	margin-left: 5px;
}


label {
	margin-right: 10px;
	font-size: 15px;
	display: inline;
	width:84px;
	text-align: right;
	flex-grow: 0;
}



.minilabel {
	color: rgb(120,120,120);
	text-align: right;
	margin-right: 0px;
	font-size:14px;
}
.connect.minilabel::before {
	color: red;
	height: 1px;
	margin-top: 0px;
	top: 5px;
	left: 1px;
	right: 1px;
	display:block;	
}

#toolbar	{
	display:flex; 
	justify-content:space-between;
}

.menu_row_input button {
	width: 18px;
	height: 18px;
	padding:0;
    margin:0;
    font-size: 100%;
}

.menu_row{
	margin-top: 3px;
	margin-bottom: 3px;
	display: block;
}

.menu_row {
	width: 100%;
	clear: both;
	line-height: 30px;

	overflow: hidden;
	display: flex;
}

.menu_row .menu_row_infobox {
	background-color: white;
	width: 100%;
	line-height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 90%;
	display: flex;
}

.menu_row .menu_row_infobox .box_text {
	border: 1px solid #c5c5c5;
	padding: 5px;
	width: 100%;
}

.menu_row .menu_row_infobox .box_buttons {
	flex: 1;
	flex-direction: column;
	display: flex;
	justify-content: start;
    background: rgb(243, 243, 243);
}

.menu_row .menu_row_infobox .box_buttons button {
	border: 1px solid #c5c5c5 !important;
	font-size: 80%;
	padding: 0;
	height: 20px;
	width: 30px;
	outline: none;
}

.menu_row .menu_row_infobox .box_buttons .inactive {
	background-color: rgb(243, 243, 243) !important;
	color: #c5c5c5 !important;
}

.menu_row .menu_row_infobox .mesh-name {
	font-weight: bold;
}

.menu_row .menu_row_infobox .paper-title {
	font-weight: bold;
}

.menu_row .menu_row_infobox .paper-authors {
	font-size: 80%;
}

.menu_row_infobox .paper-venue {
	font-size: 80%;
	font-style: italic;
}

.menu_row #surface_colormap_input {
	display: none;
}

#mesh_source {
	font-style: italic;
	width:100%;
	width: 80%;
}

.menu_row #mesh_source option {
	font-style: normal;
}

.menu_row #paper_mesh_picker {
	width: 100%;
}

.menu_row #mesh_info_1 {
	display: none;
}

.menu_row #mesh_info_2 {
	display: none;
	background-image: url("../img/bar.png");
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

.menu_row #paper_mesh_picker {
	display: none;
}

.menu_row #mesh_stats_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.menu_row .mesh_stat {
	padding-left: 15px;
}

.menu_row .menu_row_input {
	display: flex;
	float: right;
	flex-grow: 2;
	justify-content: flex-end;
	vertical-align: middle;
}

.menu_row_input .slider, .menu_subrow_input .slider {
	flex-grow: 2;
	margin-bottom: 2px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 2px;
}
.menu_row .slider .ui-slider-handle , .menu_sub_row .slider .ui-slider-handle{
	width: 12px;
	padding-left: 0;
	padding-right: 0;
}

.menu_row .menu_row_input .mini-slider {
    flex-grow: 0;
    width: 100%;
}

.menu_row .menu_row_input .normal_value {
    width: 30px;
}

.menu_row .menu_row_input .mini-slider .ui-slider-handle {
    width: 8px;
    padding-left: 0px;
    padding-right: 0px;
	margin: 0;
}

.menu_row_input_block {
	margin-left: 10px;
}

.menubox textarea {
	background: transparent;
	border: none;
	resize: none;
    outline: none;
	width: 100%;
	height: 100px;
	margin-top: 5px;
}

#plane_snap_camera {
	width: 26px;
	height: 20px;
	padding: 2px;
	background: url("../img/eye256x128.png");
	background-size: 20px 14px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}


.simple-font {
    font-family: sans-serif;
}

canvas {
    display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-moz-appearance:textfield;
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input {
    box-shadow:none;
    -moz-box-shadow: none;
}

#GUI {
    overflow-y: auto;
    overflow-x: hidden;
	height: 100%;
	width: 25%;
	float: left;
}

#frame {
	position: fixed;
	height: 100%;
	width: 75%;
	margin-left: 25%;
}

#frame::-webkit-scrollbar {
    width: 0px;  	/* remove scrollbar space */
}

/* drag n drop */

#drag_drop_overlay {
   position:absolute;
   display: flex;
   width: 100%;
   height: 100%;
   left:0px;
   top:0px;
   background-color: rgba(100, 100, 100, 0.5);
   text-align: center;
}

.first_drag_drop {
   background-color: rgba(177, 177, 177, 1) !important;
}

#drag_drop_header {
	position:absolute;
	width: 100%;
	text-align: center;
	font-size: 2vw;
	top: 200px;
	opacity: 0.5
}

#mesh_drag_drop_area {
	float: left;
	width: 50%;
}

#settings_drag_drop_area {
	width: 50%;
}

#mesh_drag_drop_quad {
	margin-left: 40%;
	margin-right: 15%;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 15%;
	height: 20%;
}

#settings_drag_drop_quad {
	display: none;
	margin-left: 15%;
	margin-right: 20%;
	top: 0; left: 50%; bottom: 0; right: 0;
	width: 15%;
	height: 20%;
}

.drag_drop_quad_off {
	display: inline-block;
   	text-align: center;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 25px;
	border: 1px solid grey;
}

.drag_drop_quad_on {
	display: inline-block;
   	text-align: center;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 25px;
	border: 1px solid white;

	background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255,255,255,.1) 20px, rgba(255,255,255,.1) 40px);
}

.drag_drop_content i {
	font-size: 3vw;
}

.drag_drop_content h1 {
	font-size: 2vw;
}

/* Side Menu */

button {
	background-color: rgb(247, 236, 243);
	border: 1px solid rgb(200,200,200);
	border-radius: 3px;
}
button#plane_snap_camera.checked {
	background-color: rgb(247, 186, 193);
}
.menu_subrow{
	display: block;
	margin-bottom: 15px;
	margin-top: 0px;
	text-align: right;
	float: right;
	width: 100%;
	padding-left: 0px;
	
}

.smallplus{
	margin-left: -3px;
	width: 11px;
	height: 11px;
	padding: 0px;
	font-size:10px;
	border-radius: 0px;
	background-color: white;
	position: relative;
	border: 1px solid rgb(200,200,200);
	outline: none;
}
/*css plus*/
.smallplus::after , .smallplus::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #AAA;
}
.smallplus::after{
  height: 1px;
  margin-top: -1px;
  top: 5px;
  left: 1px;
  right: 1px;
  display:block;	
}
.smallplus::before {
  width: 1px;
  margin-left: -1px;
  left: 5px;
  top: 1px;
  bottom: 1px;
}
.smallplus.checked::before{ display:none;
}

.minilabel {
	color: rgb(120,120,120);
	text-align: right;
	margin-right: 0px;
	font-size:14px;
	position: relative;
}
.connect.minilabel{
	margin-left: 0px;
	width: 30%;
	display: inline;
}
.subspacer{
	width: calc(100% - 327px);
	content: " ";
	display: inline;
	height: 18px;
	margin-top:-4px;
	margin-bottom:4px;
	margin-right: 4px;
	margin-left: 15px;
	content: " ";
	padding: 0px;
	border-bottom: 1px solid rgb(210,210,210);
	border-left: 1px solid rgb(210,210,210);
	border-radius: 0 0 0 6px ;
	display: inline-block;
}


button:focus {
    NOborder-color: white;
}


.pickbutton{
	width: 16.5%;
	margin-right: 5px;
	height: 24px;
	margin-top: 4px;
}

.pickbutton:focus{
	border-color: black;	
}
.minibutton{
	width: 20px;
	height: 22px;
	padding-left: 0px;
	padding-right: 0px;
}
#plane_swap_sign{
	padding-top: 3px;
}
#plane_snap_nx{
    color: rgb(255, 0, 0);
}
#plane_snap_ny{
    color: rgb(0, 180, 0);
}
#plane_snap_nz{
    color: rgb(0, 0, 255);
}
select {
	height: 26px;
	border-radius: 4px;
}

.miniselect{
	width: 95px;
	height: 25px;
	margin: 2px 0 0 0;
}

#surface_colormap_input,
#visible_color_wrapper{
	text-align: left;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	display: none;
}

input[type=number] {
	width: 40px;
	height: 20px;
	padding: 0;
}



#plane_nx{
	border-radius: 6px 0px 0px 6px;
	width: 28px;
}
#plane_ny{
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	width: 28px;
}
#plane_nz{
	border-radius: 0px 6px 6px 0px;
	width: 28px;
}

.scalar_value{
	border-radius: 6px;
	border: 1px solid rgb(190,190,190);
	margin: 0px;
	text-align: center;
	background-color: rgb(250,250,250);
	color: rgb(100,100,100);
}	

