/* jquery ui */

.ui-widget {
	font-family: 'Raleway', sans-serif;
}

/* page */

html, body { 
    margin: 0;
	height: 100%;
	font-size: 95%;
	font-family: 'Raleway', sans-serif;
}

/* drag n drop */

#drag_drop_overlay {
   position:absolute;
   display: flex;
   width: 100%;
   height: 100%;
   left:0px;
   top:0px;
   background-color: rgba(100, 100, 100, 0.5);
   text-align: center;
}

#mesh_drag_drop_area {
	float: left;
	width: 50%;
}

#settings_drag_drop_area {
	width: 50%;
}

#mesh_drag_drop_quad {
	margin-left: 20%;
	margin-right: 15%;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 15%;
	height: 20%;
}

#settings_drag_drop_quad {
	margin-left: 15%;
	margin-right: 20%;
	top: 0; left: 50%; bottom: 0; right: 0;
	width: 15%;
	height: 20%;
}

.drag_drop_quad_off {
	display: inline-block;
   	text-align: center;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 25px;
	border: 1px solid grey;
}

.drag_drop_quad_on {
	display: inline-block;
   	text-align: center;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 25px;
	border: 1px solid white;

	background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255,255,255,.1) 20px, rgba(255,255,255,.1) 40px);
}

.drag_drop_content i {
	font-size: 3vw;
}

.drag_drop_content h1 {
	font-size: 2vw;
}

/* Menu */

#menu button {
	background: rgb(207, 226, 243);
	border: 1px solid black;
}

#menu select {
	height: 26px;
}

#menu input[type=number] {
	width: 40px;
	height: 20px; 
}

.menu_area {
	background: rgb(243, 243, 243);
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

/* Title */

.menu_area .menu_title_wrapper {
	width: 100%;
	font-weight: bold;
	overflow:hidden
}

.menu_area .menu_title_wrapper .menu_title {
	float:left;
}

.menu_area .menu_title_wrapper .menu_switch {
	float: right;
}

/* Content */

.menu_area .menu_content {
	clear: both;
	margin-left: 5px;
}

.menu_area .menu_content .menu_row {
	width: 100%;
	clear: both;
	line-height: 25px;

	overflow: hidden;
	display: flex;
}

.menu_area .menu_content .menu_row .menu_row_label {
	float: left;
	margin-right: 10px;
}

.menu_area .menu_content .menu_row .menu_row_input {
	display: flex;
	float: right;
	flex-grow: 2;
	justify-content: flex-end;
	vertical-align: middle;
}

.menu_area .menu_content .menu_row .menu_row_input .slider {
	flex-grow: 2;
	margin-top: 7px;
}

.menu_area .menu_content .menu_row .menu_row_input_block {
	margin-left: 10px;
}

.menu_row_input button {
	width: 18px;
	height: 18px;
	padding:0;
    margin:0;
    font-size: 100%;
}

/* Toolbar */

#toolbar_wrapper {
	width: 100%;
	margin: 5px;
	padding: 5px;
}

#toolbar button {
	width: 23px;
	height: 23px;
	padding:0;
    margin:0;
    font-size: 110%;
}

/* -- */

canvas {
    display: block;
}

#display {
	min-height: 100%;
}

#sidenav {
    position: fixed;
	top: 0;
	bottom: 0;
	width: 20%;

	height: 100%;
	transition: 0s;
	border-right: 1px solid black;
	background: #fff;

	/*z-index: 200;*/
	overflow-x: hidden;

	display: block;
}

#sidenav p {
	margin: 0;
}

#frame {
	height: 100%;
	height: 100%;
}

#frame_wrapper {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 80%;
	margin-left: 20%;
	align-items: stretch;
}


.ui-accordion .ui-accordion-content{
	padding:1em 1em;
}

.ui-controlgroup {
	width: 100%;
}

#sidenav textarea {
    resize: none;
    width: 250px;
    height: 200px;
    outline: none;
    border: 1px solid #dddddd;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	margin-top: 1em;
}

#nav_opener {
    position: fixed;
    z-index: -1;
    font-size: 30px;
    cursor: pointer;
}

#nav_closer {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
